<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    
    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="Nombres"><br>
        <input type="text" name="last_name" placeholder="Apellidos"><br>
        <input type="text" name="username" placeholder="Nombre de usuario"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password1" placeholder="Contraseña"><br>
        <input type="password" name="password2" placeholder="Confirmar contraseña"><br>
        <input type="Submit">

    </form>

</body>
</html>